.album-page{
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    margin-top: 0px;
}

.album-page>div{
    margin: 10px;
}
.title{
    font-size: 36px;
}
.artist{
    font-size: 20px;
}

.album-page-cover{
    max-height: 500px;
    max-width: 500px;
    object-fit: none;
}

.left-box{
    flex: 2;
}

div.right-box{
    flex: 3;
    border-radius: 2px;
    padding: 20px;
    padding-top: 0px;
    margin-top: 0px;
}

.tracks-and-notes{
    border-radius: 2px;
    padding: 20px;
    margin: 0px;
    margin-top: 10px;
}

li{
    font-size: 20px;
}

.quote{
    font-weight: 800;
    padding: 20px 40px;
    text-align: center;
}

.notes{
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .album-page-cover{
      width: 180px;
      height: 180px;
      object-fit: fill;
    }

    div.right-box, .tracks-and-notes{
        padding: 5px;
        padding-top: 0px;
    }

    .quote{
        padding: 4px;
    }
  }
  