body{
  background-color: rgb(19, 19, 19);
  color: rgb(240, 240, 240);
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 46px;
  font-weight: 600;
  font-family: cooper-black-std;
  margin: 0px;
}

h2{
  margin-top: 0px;
  font-size: 40px;
  font-family: cooper-black-std;
}

h3{
  font-size: 100%;
  font-family: cooper-black-std;
}

p {
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
}


a {
  color: rgb(240, 240, 240);
}

header{
  height: 20%;
  text-align: center;
  padding-top: 12px;
}

main{
  text-align: center;
  margin: 20px;
}

footer{
  padding-top: 10px;
  text-align: center;
}

.logo-title{
  width: 50%;
}

.mic-logo{
  width: 5%;
}

.logo-title:hover{
  cursor: pointer;
}

.album-list {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 40px;
}

.album-icon {
  position: relative;
  width: 30vw;
  height: 30vw;
  margin: 1px;
  text-align: center;
}

.album-cover {
  display: block;
  width: 70%;
  height: 70%;
  transition: .2s ease;
  border-radius: 2px;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}

.album-icon:hover {
  cursor: pointer;
}

.album-list:hover .album-cover {
  filter: blur(1px) brightness(.6) saturate(50%);
}

.album-icon:hover .album-cover{
  filter: none;
  height: 71%;
  width: 71%;
}

.contact-info{
  border-top: 1px rgb(240, 240, 240) solid;
}
.contact-info p, .contact-info a{
  font-size: 14px;
}

@media only screen and (min-width: 1400px) {
  .album-list {
    grid-template-columns: 23vw 23vw 23vw 23vw;
    margin-left: 4vw;
    margin-right: 4vw;
  }
  
  .album-icon {
    width: 23vw;
    height: 23vw;
  }
}

@media only screen and (max-width: 600px) {
  .album-list {
    grid-template-columns: 45vw 45vw;
  }
  
  .album-icon {
    width: 45vw;
    height: 45vw;
  }
  
  .logo-title{
    width: 70%;
  }
  p, a, li{
    font-size: 14px;
  }
  .album-overlay{
    display: none;
  }
  .album-icon:hover .album-cover{
    filter: none;
  }
  
}
